/* Estilo del menú de navegación */
#navMenu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #333; /* Fondo oscuro para que haga juego */
    padding: 10px 0;
}

#navMenu li {
    margin: 0 15px;
    position: relative; /* Asegura que no haya pseudo-elementos */
}

#navMenu li::before, #navMenu li::after {
    content: none; /* Elimina cualquier pseudo-elemento anterior */
}



.custom-container {
    display: flex; /* Usar flexbox para alinear horizontalmente */
    align-items: flex-start; /* Alinear elementos en la parte superior */
    justify-content: center; /* Centrar el contenido */
    margin: 20px -15% auto; /* Margen negativo a los lados para centrar */
    width: 130%; /* Ancho del contenedor */
    max-width: 1200px; /* Ancho máximo para el contenedor */
}
.column {
    flex: 1; /* Cada columna tomará el mismo espacio */
    margin: 10px; /* Espaciado entre columnas */
}
.column iframe {
    width: 120%; /* Asegurarse de que el iframe ocupe todo el ancho de la columna */
    height: 400px; /* Altura del iframe */
    border: none; /* Sin borde */
}
.toggle-button {
    display: inline-block; /* Muestra el botón en línea */
    padding: 5px 10px; /* Espacio interno del botón */
    font-size: 12px; /* Tamaño de la fuente del botón */
    color: white; /* Color del texto del botón */
    background-color: #007BFF; /* Color de fondo del botón */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor a mano al pasar por encima */
    margin-bottom: 10px; /* Espacio entre el botón y el bloque */
    transition: background-color 0.3s; /* Efecto suave para el cambio de color */
}

.toggle-button:hover {
    background-color: #0056b3; /* Color de fondo al pasar el mouse */
}

.graph-section {
    display: none; /* Oculta el bloque de gráficos por defecto */
    margin-top: 10px; /* Espacio superior para el bloque desplegado */
}

/* Estilo específico para la sección de gráficos */
/* Asegura que el contenedor de gráficos ocupe todo el ancho */
/* Contenedor de gráficos ocupando más del 100% y centrado */
#graphSection {
    display: flex; 
    flex-direction: column; /* Alinea las columnas en una fila */
    justify-content: space-between; /* Espacio igual entre las columnas */
    position: relative; /* Necesario para usar transform */
    left: 50%; /* Mueve el contenedor a la derecha en un 50% de su tamaño original */
    transform: translateX(-50%); /* Desplaza el contenedor hacia la izquierda en un 50% de su tamaño total */
    width: 120%; /* Ocupar el 190% del ancho de la pantalla */
    margin: 0; /* Elimina márgenes */
    padding: 0; /* Evita padding adicional */
    box-sizing: border-box; /* Asegura que el padding no afecte el tamaño */
}

#graphSection .column {
    width: 100%; /* Cada columna ocupará casi la mitad del ancho */
    margin-bottom: 0px; /* Espacio entre los gráficos verticalmente */
}
#graphSection .graph-iframe {
    width: 100%;
    border: none;   
    height: 430px; /* Cambia la altura del iframe aquí, por ejemplo, a 600px */

}
.graph-iframe {
    width: 120%;
    height: 430px; /* Ajusta el valor según lo que necesites */
}

#graphSection h3 {
    text-align: center; /* Alinea los títulos al centro */
    font-family: 'Arial', sans-serif; /* Fuente elegante */
}

/* Estilo específico para la sección de gráficos */
/* Asegura que el contenedor de gráficos ocupe todo el ancho */
/* Contenedor de gráficos ocupando más del 100% y centrado */
#graphSection2 {
    display: flex; /* Alinea las columnas en una fila */
    justify-content: space-between; /* Espacio igual entre las columnas */
    position: relative; /* Necesario para usar transform */
    width: 200%; /* Ocupar el 190% del ancho de la pantalla */
    margin: 0; /* Elimina márgenes */
    padding: 0; /* Evita padding adicional */
    box-sizing: border-box; /* Asegura que el padding no afecte el tamaño */
}

#graphSection2 .column {
    width: 49%; /* Cada columna ocupará casi la mitad del ancho */
    margin-bottom: 20px; /* Espacio entre los gráficos verticalmente */
}

#graphSection2 .graph-iframe {
    width: 100%;
    aspect-ratio: 4 / 3; /* Mantiene una proporción de 4:3 */
    border: none;
}


#graphSection2 h3 {
    text-align: center; /* Alinea los títulos al centro */
    font-family: 'Arial', sans-serif; /* Fuente elegante */
}





#navMenu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 5px;
}

#navMenu a:hover {
    background-color: #3498db; /* Azul elegante que resalte en el fondo oscuro */
    color: white;
}



body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: hsl(0, 0%, 96%);
    color: #333333;
    padding-bottom: 0.5rem 0; /* Add padding to prevent footer from overlapping content */
}

header {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 0.1rem 1; /* Reduced padding to make header smaller */
}

/* Secciones con delay para el orden de aparición */
.delay-1 { transition-delay: 0.3s; }
.delay-2 { transition-delay: 0.6s; }
.delay-3 { transition-delay: 0.9s; }
.delay-4 { transition-delay: 1.2s; }
button {
    background-color: #007aff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #005bb5;
}



header img.header-image {
    width: 100%;
    height: auto;
    max-height: 140px; /* Limit the height of the header image */
    object-fit: cover; /* Ensures the image covers the space while preserving aspect ratio */
}

header h1 {
    margin: 0;
    color: #fff;
    font-size: 1.5rem; /* Adjust font size if needed */
    padding: 0.5rem 0; /* Adjust padding as needed */
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0; /* Remove default margin */
}

header nav ul li {
    display: inline;
    margin: 0 0.5rem; /* Adjust margin as needed */
    font-size: 0.9rem; /* Reduce el tamaño del texto del menú para una apariencia más compacta */
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem; /* Adjust font size if needed */
}

header nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 2rem;
    max-width: 800px;
    margin: auto;
}

.content-section {
    display: none;
}

.content-section.active {
    display: block;
}

h1, h2, h3 {
    color: #2c3e50;
    text-align: center;
}
h4 {
    color: #2c3e50; /* Celeste oscuro */
    text-align: left; /* Alineado a la izquierda */
    font-style: italic; /* Cursiva */
    font-size: 15px;
    margin-bottom: 1px;
}
h5 {
    font-family: 'Arial', sans-serif; /* Fuente del título */
    font-size: 14px; /* Tamaño de la fuente */
    font-weight: bold; /* Negrita para resaltar */
    color: #8daccc; /* Color del texto */
    margin-bottom: 1px; /* Muy poco espacio debajo del título */
}

h5 + p {
    margin-top: 1px; /* Espacio mínimo entre el título y el párrafo */
}


video {
    max-width: 100%;
    display: block;
    margin: 1rem 0;
}

img.section-image {
    max-width: 100%;
    display: block;
    margin: 1rem 0;
}


footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 0.1rem; /* Adjust padding to fit footer content */
    position: fixed;
    width: 100%;
    bottom: 0;
}

.app-container {
    margin-bottom: 2rem; /* Space between applications */
    padding: 1rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.app-iframe {
    border: none;
}
        /* Efecto de animación al hacer scroll */
.fade-in-section {
    opacity: 0;
    transform: translateY(20px);
    visibility: hidden;
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in-section.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
}

        /* Efectos adicionales con íconos */
.dynamic-icon {
    font-size: 2rem;
    color: #2c3e50;
    transition: transform 0.3s ease;
}

.dynamic-icon:hover {
    transform: rotate(20deg);
}
/* Estilo de las imágenes y videos */
video, img.section-image {
    max-width: 100%;
    display: block;
    margin: 2rem 0;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

ul {
    list-style: none; /* Elimina el estilo de lista predeterminado */
    padding-left: 0; /* Elimina el padding izquierdo */
}

ul li {
    margin-bottom: 10px; /* Espaciado entre los elementos de la lista */
    position: relative; /* Necesario para el pseudo-elemento :before */
    padding-left: 40px; /* Aumenta la sangría a la izquierda para el texto */
}

ul li:before {
    content: '•'; /* El punto de la lista */
    position: absolute; /* Posiciona el punto en relación al elemento li */
    left: 10px; /* Ajusta la posición del punto para dar más sangría */
    color: #007aff; /* Color del punto */
    font-size: 1.5rem; /* Aumenta el tamaño del punto */
    line-height: 1; /* Alinea verticalmente el punto con el texto */
    top: 0; /* Asegúrate de que el punto esté en la misma línea que el texto */
}

ol {
    padding-left: 20px; /* Puedes ajustar este valor si quieres más o menos espacio */
    list-style-type: none; /* Esto elimina los números predeterminados */
}

ol li {
    margin-bottom: 10px;
    position: relative;
}

ol li:before {
    content: counter(item) '. '; /* Agrega el número antes de cada elemento */
    counter-increment: item; /* Aumenta el contador para el siguiente elemento */
    position: absolute;
    left: -30px; /* Ajusta el espacio a la izquierda como prefieras */
    color: #007aff; /* El mismo color que usaste para el marcador en <ul> */
    font-size: 1.1rem; /* Tamaño del número */
}

/* Asegúrate de reiniciar el contador al principio de la lista */
ol {
    counter-reset: item; /* Resetea el contador al iniciar la lista */
}

/* Efecto de animación al hacer scroll */
.fade-in-section {
    opacity: 0;
    transform: translateY(20px);
    visibility: hidden;
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in-section.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
}

/* Efectos adicionales con íconos */
.dynamic-icon {
    font-size: 2rem;
    color: #2c3e50;
    transition: transform 0.3s ease;
}

.dynamic-icon:hover {
    transform: rotate(20deg);
}

/* Sección de columnas */
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}



header nav ul li a:hover {
    color: #007aff;
    text-decoration: underline;
}

p, li {
    margin: 20px 0;
    color: #555;
    font-size: 0.9rem;
    text-align: justify;
}
.center-text {
    text-align: center;
    color: #fff;

}
iframe {
    border: 2px solid #ccc; /* Bordes suaves */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    width: 120%; /* Adaptable al contenedor */
    max-width: 100%; /* No excede el tamaño del contenedor */
    height: 600px; /* Aumenta la altura para que no se corte el contenido */
    overflow: hidden; /* Scroll interno si es necesario */
    margin: 20px 0; /* Esp*/
}

