body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: hsl(0, 0%, 96%);
    color: #333333;
    padding-bottom: 0.5rem 0; /* Add padding to prevent footer from overlapping content */
}

header {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 0.1rem 1; /* Reduced padding to make header smaller */
}

/* Secciones con delay para el orden de aparición */
.delay-1 { transition-delay: 0.3s; }
.delay-2 { transition-delay: 0.6s; }
.delay-3 { transition-delay: 0.9s; }
.delay-4 { transition-delay: 1.2s; }
button {
    background-color: #007aff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #005bb5;
}



header img.header-image {
    width: 100%;
    height: auto;
    max-height: 140px; /* Limit the height of the header image */
    object-fit: cover; /* Ensures the image covers the space while preserving aspect ratio */
}

header h1 {
    margin: 0;
    color: #fff;
    font-size: 1.5rem; /* Adjust font size if needed */
    padding: 0.5rem 0; /* Adjust padding as needed */
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0; /* Remove default margin */
}

header nav ul li {
    display: inline;
    margin: 0 0.5rem; /* Adjust margin as needed */
    font-size: 0.9rem; /* Reduce el tamaño del texto del menú para una apariencia más compacta */
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem; /* Adjust font size if needed */
}

header nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 2rem;
    max-width: 800px;
    margin: auto;
}

.content-section {
    display: none;
}

.content-section.active {
    display: block;
}

h1, h2, h3 {
    color: #333;
}

video {
    max-width: 100%;
    display: block;
    margin: 1rem 0;
}

img.section-image {
    max-width: 100%;
    display: block;
    margin: 1rem 0;
}

.graph-iframe {
    margin-top: 20px;
    margin-bottom: 20px;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 0.1rem; /* Adjust padding to fit footer content */
    position: fixed;
    width: 100%;
    bottom: 0;
}

.app-container {
    margin-bottom: 2rem; /* Space between applications */
    padding: 1rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.app-iframe {
    border: none;
}
        /* Efecto de animación al hacer scroll */
.fade-in-section {
    opacity: 0;
    transform: translateY(20px);
    visibility: hidden;
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in-section.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
}

        /* Efectos adicionales con íconos */
.dynamic-icon {
    font-size: 2rem;
    color: #007aff;
    transition: transform 0.3s ease;
}

.dynamic-icon:hover {
    transform: rotate(20deg);
}
/* Estilo de las imágenes y videos */
video, img.section-image {
    max-width: 100%;
    display: block;
    margin: 2rem 0;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
ul li:before {
    content: '•';
    position: absolute;
    left: 0;
    color: #007aff;
    font-size: 1.5em;
}

header nav ul li a:hover {
    color: #007aff;
    text-decoration: underline;
}

p, li {
    margin: 20px 0;
    color: #555;
    font-size: 0.9rem;
    text-align: justify;
}
.center-text {
    text-align: center;
    color: #fff;

}
iframe {
    border: 2px solid #ccc; /* Bordes suaves */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    width: 100%; /* Adaptable al contenedor */
    max-width: 100%; /* No excede el tamaño del contenedor */
    height: 600px; /* Aumenta la altura para que no se corte el contenido */
    overflow: auto; /* Scroll interno si es necesario */
    margin: 20px 0; /* Esp
}


  